.sidebar{

width:250px;

height:100vh;

background:#22345f;

position:fixed;

left:0;

top:0;

padding:25px;

display:flex;

flex-direction:column;

}

.logo{

color:white;

margin-bottom:40px;

}

.sidebar a{

color:#e0e3e6;

text-decoration:none;

padding:14px;

display:flex;

gap:12px;

align-items:center;

margin-bottom:10px;

border-radius:10px;

transition:.3s;

}

.sidebar a:hover{

background:#0d6efd;

color:rgb(255, 255, 255);

}

.sidebar a.active{

background:#0d6efd;

color:white;

}

.logout-btn{

margin-top:auto;

background:#dc3545;

color:white;

border:none;

padding:12px;

border-radius:10px;

display:flex;

align-items:center;

justify-content:center;

gap:10px;

cursor:pointer;

}